{% extends "webtemplate_dbca/base_b5_auth_session.html" %}
{% load static %}
{% load django_vite %}

{% load users %}
{% load utils %}


{% is_internal as is_internal_login %}
{% is_internal_path as is_internal_login_path %}
{% is_disturbance_admin as is_disturbance_admin_user %}
{% is_apiary_admin as is_apiary_admin_user %}
{% system_maintenance_due as system_maintenance_due %}
{% system_name_short as short_name %}
{% dept_name as department_name %}
{% system_name as system_name %}
{% system_name_short as system_name_short %}
{% support_email as support_email %}


{% block header_top_menu %}
{% endblock %}

{% block extra_css %}
  <link rel="icon" type="image/png" href="/static/favicon.ico" />

  <link rel="stylesheet" href="{% static 'disturbance/css/base.css' %}?v={{ GIT_COMMIT_HASH }}" />
  <style>
    @media print { 
      .noPrint { 
        display: none;
      }
    }
  </style>
{% endblock extra_css %}

{% block extra_js %}
    {% vite_hmr_client %}
{% endblock extra_js %}

{% block custom_js %}
    <script language="javascript">
        var env = {
            "kb_server_url": "{{ KB_SERVER_URL }}",
            "sqs_apiurl": "{{ SQS_APIURL }}",
            "show_das_map": "{{ SHOW_DAS_MAP }}",
            "max_layers_per_sqq": "{{ MAX_LAYERS_PER_SQQ }}",
            "external_das_info_url": "{{ DJANGO_SETTINGS.EXTERNAL_DAS_INFO_URL }}",
            "internal_das_info_url": "{{ DJANGO_SETTINGS.INTERNAL_DAS_INFO_URL }}",
            "support_email": "{{ SUPPORT_EMAIL }}",
            "privacy_policy_url": "{{ privacy_policy_url }}"
        }
    </script>
    {# Load TinyMCE once globally from django-tinymce static files (shared by admin and Vue). #}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    {% vite_asset vue3_entry_script %}
{% endblock custom_js %}

{% block main_menu %}
  <div class="noPrint">
    {{ block.super }}
  </div>
{% endblock main_menu %}

{% block menu_items_left_brand %}
  <div class="navbar-nav">
    <div class="nav-item">
      <a class="nav-link{% if request.path == '/' %} active{% endif %}" href="/external/"><img src="/static/img/pwl_icon.png" />Home</a>
    </div>
  </div>
{% endblock menu_items_left_brand%}

{% block menu_items2_right %}
  {% if request.user.is_authenticated %}

  {% else %}
    <!-- <a href="/ssologin" class="btn btn-primary btn-sm">Login</a> -->
  {% endif %}
{% endblock menu_items2_right %}

{% block menu_spacer %}
 <BR>
{% endblock menu_spacer %}

{% block main_header %}
  <!-- Screen version -->
  <div class='parks_bg_banner d-print-none'>
    <div class='container'>
      <div class="" style='background-color: FFF;  z-index: 2;'>
        <div style='padding: 20px;'>
          <div class="row">
            <div class="col-lg-3">
              <h1 id="site-title" class="site-logo">
                <a href="{% url 'home'%}" >
                  <img src="/static/img/logo-park-stay-trunc.gif" alt="{{ template_title }}  - Department of Biodiversity, Conservation and Attractions" class="img-responsive"/>
                </a>
              </h1>
            </div>
            <div class="col-lg-9">
              <h1 id="site-title hide-sm" class="site-logo" style="color: white; text-align: left">
                {{ template_title }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Print version only -->
  <div class='parks_bg_banner d-none d-print-block'>
    <div class='container'>
      <div style='padding: 10px;'>
        <table style="width:100%; border-collapse: collapse;">
          <tr>
            <td style="width: 300px; vertical-align: middle; padding-right: 20px;">
              <img src="/static/img/logo-park-stay-trunc.gif" alt="{{ template_title }} - Department of Biodiversity, Conservation and Attractions" style="max-width: 280px; height: auto;"/>
            </td>
            <td style="vertical-align: middle;">
              <span style="color: white; font-size: 2.2em; font-weight: bold; word-break: break-word;">{{ template_title }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock main_header %}

{% block messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert 
                        {% if message.tags == 'error' %}alert-danger
                        {% elif message.tags == 'warning' %}alert-warning
                        {% elif message.tags == 'success' %}alert-success
                        {% else %}alert-info{% endif %}
                        alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block before_content %}
  {% get_notices_tag as notices%}
  {% if notices|length > 0 %}
  <div class="container">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
                  {% for notice in notices %}
                      {% if notice.notice_type == 0 and notice.active %}
                        <div class="col-sm-12 col-md-12 d-flex">
                            <div class="round-box col-12 px-3" style='background-color: #ffcbcb; border: 1px solid #fb9e9e;'>
                                <div style='margin-bottom:-12px; margin-left: 10px'>
                                    <span style='color:red;'>{{ notice.message|safe }}</span>
                                </div>
                            </div>
                        </div>
                      {% elif notice.notice_type == 1 and notice.active %}
                        <div class="col-sm-12 col-md-12 d-flex">
                            <div class="round-box col-12 px-3 d-flex" style='background-color: #fff4e0; border: 1px solid #ff89358a;'>
                                <div style='margin-bottom:-12px; margin-left: 10px'>
                                    <span style='color:#ffa500;'>{{ notice.message|safe }}</span>
                                </div>
                            </div>
                        </div>
                      {% elif notice.notice_type == 2 and notice.active %}
                        <div class="col-sm-12 col-md-12 d-flex">
                            <div class="round-box col-12 px-3" style='background-color: #cbe5ff; border: 1px solid #9eccfb;'>
                                <div style='margin-bottom:-12px; margin-left: 10px'>
                                    <span style='color:#2a84e0;'>{{ notice.message|safe }}</span>
                                </div>
                            </div>
                        </div>
                      {% elif notice.notice_type == 3 and notice.active %}
                        <div class="col-sm-12 col-md-12 d-flex">
                            <div class="round-box col-12 px-3" style='background-color: #e9f9ea; border: 1px solid #21ab26;'>
                                <div style='margin-bottom:-12px; margin-left: 10px'>
                                    <span style='color:#1a851d;'>{{ notice.message|safe }}</span>
                                </div>
                            </div>
                        </div>
                      {% endif %}
                  {% endfor %}
              </div>
          </div>
      </div>
      </div>
    </div>
  {% endif %}
{% endblock before_content %}

{% block footer %}
  {% application_version as application_version %}
  {% support_email as support_email %}
  {% dept_support_phone as dept_support_phone %}
  {% comment %} <footer class="footer fixed-bottom mt-3">
    <div class="container-fluid border-top py-2 bg-light text-secondary">
      <div class="row">
        <div class="col">
          <small class="float-start">Version:{% application_version %}</small>
        </div>
        <div class="col">
          <small>Support: <a href="mailto:{% support_email %}">{% support_email %}</a> | <a href="tel:{% dept_support_phone %}">{% dept_support_phone %}</a></small>
        </div>
        <div class="col">
          <small class="float-end">&copy; {% dept_name %}</small>
        </div>
      </div>
    </div>
  </footer> {% endcomment %}
{% endblock footer %}


